/*******************************************************
* catClicker
* Shows a selected cat in menu for happy purposes
*
* Author: Leandro Rezende
* Date: 29/04/2016;
*******************************************************/

/*******************************************************
* CSS Reset
*******************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*******************************************************
* General
*******************************************************/
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
	font-family: tahoma, sans-serif;
}

.m-b-30 {
	margin-bottom: 30px;
}

.m-t-30 {
	margin-top: 30px;
}

.btn {
	border: 		1px solid #ccc;
	padding:		5px;
	text-align:		center;
	border-radius: 	5px;
	display:		inline-block;
}

.btn-info {
	background: 		blue;
	color:				white;
	text-decoration:	none;
}

.btn-info:hover {
	background: 		white;
	color:				blue;
	text-decoration:	none;
}


/*******************************************************
* Cat List
*******************************************************/

#menu-cat {
	background: 	#ccc;	
	float: 			left;	
	position: 		relative;	
	width: 			30%;	
}

.menu-cat__list {
	background: 			white;	
	margin: 				5px;
	padding: 				5px;
	text-align: 			center;
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;	
}

.menu-cat__list:hover {
	background: #eee;
	cursor: 	pointer;	
}

.menu-cat__name {
	font-size: 1em;
}

.menu-cat__photo {
	max-width: 100px;
}

/*******************************************************
* Cat Display
*******************************************************/
#display-cat {
	float: 		left;
	text-align: center;
	width: 		70%;
}

.display-cat__title {
	font-size: 1.2em;
}

.display-cat__name-description {
	color: 		 red;
	font-weight: bold;
}

.display-cat__counter {
	color: 		 red;
	font-weight: bold;
}

/*******************************************************
* Cat Admin
*******************************************************/

#admin {
	background: 	#444;
	color: 			#fff;
	padding: 		20px;
	text-align:		center;

}

#open-admin {
	
}

#form-admin {
	clear:both;
}

#form-admin input {
    padding: 		5px;
    border-radius: 	5px;
    border: 		1px solid #fff;
}
